/* DATATABLE  */

.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_length select {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-radius: 0.2rem;
  background: transparent;
  border: 1px solid #ccc;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dataTables_length select:hover,
.dataTables_length select:focus {
  color: #000;
  border: 1px solid $color-primary;
}

.dataTables_length select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* FILTERING */
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  padding-bottom: 10px;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-radius: 0.2rem;
  background: transparent;
  border: 1px solid #ccc;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.dataTables_filter input:hover,
.dataTables_filter input:focus {
  color: #000;
  border: 1px solid $color-primary;
}

.dataTables_filter input:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* PAGINATION */
.dataTables_wrapper .paginate_button {
  padding: 3px 10px;
  margin: 3px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: #666;
  border-radius: 0.25em;
  transition: color 0.3s;
}

.dataTables_wrapper .paginate_button:hover {
  background-color: #f1f1f1;
  color: #34495e;
  cursor: pointer;
}

.dataTables_wrapper .paginate_button:focus {
  outline: none;
}

.dataTables_paginate .current {
  border: 1px solid $color-primary;
  color: #fff;
  background: $color-primary;
  transition: all 0.3s;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
  padding: 10px 10px;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
  padding: 10px 10px;
}
.dataTables_paginate .current:hover {
  color: #f9f9f9;
  background: $color-primary;
  opacity: 0.8;
}
.dataTables_paginate .disabled {
  background: transparent;
  border: none;
}
.dataTables_paginate .disabled:hover {
  background: transparent;
  border: none;
  cursor: not-allowed;
}
