@font-face {
    font-family: 'microsoft';
    src: url(../fonts/segoeui/SegoeUI-Light.woff);
}
:root {
	--blue: #34495e;
	--green: #e74c3c;
	--yellow: #C9C243;
	--orange: #FFA644;
	--red: #3498db;
  }