.menu {
  font-size: 1rem;
}

.menu.is-small {
  font-size: 0.75rem;
}
.menu.is-medium {
  font-size: 1.25rem;
}
.menu.is-large {
  font-size: 1.5rem;
}
.menu-list {
  line-height: 1.25;
}
.menu-list a {
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.75em;
  cursor: pointer;
}
.menu-list a:hover {
  background-color: #f5f5f5;
  color: #363636;
}

// .menu-list li ul {
//   border-left: 1px solid #dbdbdb;
//   margin: 0.75em;
//   padding-left: 0.75em;
// }
.menu-list li a {
  // width: 100vw;
  display: flex;
  align-items: center;
}

.menu-list li a i {
  margin-right: 8px;
}

.menu-label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  margin-left: 5px;
  text-transform: uppercase;
}
.menu-label:not(:first-child) {
  margin-top: 1em;
}
.menu-label:not(:last-child) {
  margin-bottom: 1em;
}

/* arrow  up:02EF, down: 02F0, left:02F1 , right: 02F2` */
/* angle  up:2038, down:02EC , left:2039 , right:203A ` */

.menu-list a.expandible::after {
  content: "\203A";
  float: right;
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.menu-list a.collapsed::after {
  content: "\02EC";
  justify-content: flex-end;
}

.menu-list a.switched {
  // border-left: 2px solid #cddc39;
  background: $color-selected-bg;
  color: $color-selected;
}

.menu-list-collapse {
  display: none;
  border-left: 1px solid #dbdbdb;
  margin: 0.75em;
  padding-left: 0.75em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* */
.nav {
  max-width: 350px;
  margin: 60px auto 20px;
  background: #fff;
  border-radius: 4px;
}

.nav_menu {
  width: 100%;
}

.nav_menu_label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 5px;
  margin-left: 10px;
}

.nav_menu_label:not(:first-child) {
  margin-top: 1em;
}

.nav_menu_label:not(:last-child) {
  margin-bottom: 1em;
}

.nav_menu li.open .nav_menu_item {
  color: #cddc39;
}

.nav_menu li.open .nav_menu_item .fa-chevron-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav_menu li:last-child .nav_menu_item {
  border-bottom: 0;
}

.nav_menu_item {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
}

.nav_menu_item i {
  position: absolute;
  top: 17px;
  left: 16px;
}

.nav_menu_item .fa-chevron-down {
  right: 12px;
  left: auto;
}

.nav_submenu_item {
  display: none;
  background: #c8e6c9;
}

.nav_submenu_item li {
  border-bottom: 1px solid #b6b6b6;
}

.nav_submenu_item a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  transition: all 0.4s ease-out;
}

.nav_submenu_item a:hover {
  background-color: #cddc39;
  color: #fff;
}
